.root {

  /* Define a custom colour palette */
  /* List controls */
  -mbhd-list-background: #e0e0e0;
  -mbhd-list-background-dark: derive(-mbhd-list-background, -5%);
  -mbhd-list-background-darker: derive(-mbhd-list-background, -50%);
  -mbhd-list-background-light: derive(-mbhd-list-background, 5%);
  -mbhd-list-background-lighter: derive(-mbhd-list-background, 50%);

  /* Detail controls */
  -mbhd-detail-background: white;

  /* Text controls */
  -mbhd-text: #030303;
  -mbhd-text-dark: derive(-mbhd-text, -5%);
  -mbhd-text-darker: derive(-mbhd-text, -50%);
  -mbhd-text-light: derive(-mbhd-text, 5%);
  -mbhd-text-lighter: derive(-mbhd-text, 80%);
  
  /* Overall background */
  -fx-background-image: url("../images/escheresque.png");
  
}

/* The main horizontal banner */
.titlebar {

  -fx-background-color: -mbhd-list-background-dark;

}

/* Splitter LHS showing sections */
.sidebar {

  -fx-background-color: -mbhd-list-background;
  -fx-padding: 0px;

}

/* TreeView in LHS showing wallet info */
.sidebarTreeView {

  /* Shows through as horizontal dividers */
  -fx-background-color: transparent;
  -fx-padding: 0px;
  -fx-border-color: transparent;

}

.sidebarTreeView .scroll-bar:vertical > * > .thumb {

  -fx-background-color: -mbhd-text;

}

.sidebarTreeView .tree-cell {

  -fx-background-color: transparent;
  -fx-padding: 0px;

}

.sidebarTreeView .tree-cell > .tree-disclosure-node > .arrow {

  -fx-background-image: null;

}

.sidebarTreeView:expanded .tree-cell > .tree-disclosure-node > .arrow {

  -fx-background-image: null;

}

/* Sidebar divider */

.split-pane:horizontal > * > .split-pane-divider {

  -fx-border-color: transparent -mbhd-list-background transparent -mbhd-list-background;
  -fx-background-color: transparent, -mbhd-detail-background;
  -fx-background-insets: 0, 0 1 0 1;

}
.split-pane {

  -fx-background-color: -mbhd-list-background;
  -fx-border-color: -mbhd-text -mbhd-list-background -mbhd-list-background transparent;
  -fx-padding: 0px;
/* The grabber dots */
-fx-box-border: -mbhd-text;

}

/* Balance display */
.balanceLHS {
  -fx-font-size: 32px;
  -fx-text-fill: -mbhd-text;
}

.balanceRHS {
  -fx-font-size: 24px;
  -fx-text-fill: -mbhd-text-lighter;
}


/* Splitter RHS anchor pane */
#detailAnchorPane {

  -fx-background-color: -mbhd-detail-background;
  -fx-padding: 0px;
}

