.root {
  -fx-background-image: url("../images/escheresque.png");
}

.titlebar {

  -fx-background-color: #f0f0f0;

}

.sidebar {

  -fx-background-color: #f0f0f0;

}

.sidebarSection {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}

.header {
  -fx-font-size: 32px;
}

.split-pane:horizontal > * > .split-pane-divider {
  -fx-border-color: transparent -fx-box-border transparent #BBBBBB;
  -fx-background-color: transparent, -fx-inner-border-horizontal;
  -fx-background-insets: 0, 0 1 0 1;
}

/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > * > .split-pane-divider {
  -fx-border-color:  transparent;
  -fx-background-color: transparent;
  -fx-background-insets: 0;
}

.split-pane *.vertical-grabber {
  -fx-padding: 0;
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-shape: " ";
}