# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# NetBeans
nb*.xml

# Sublime
*.sublime-project
*.sublime-workspace

# Mac
.DS_Store

# Maven
target/

# JWrapper
mbhd-install/jwrapper-*.jar
mbhd-install/JRE-1.7/
mbhd-install/jwrapper/
mbhd-install/wrappers/
mbhd-install/utils/
mbhd-install/lib/
mbhd-install/gu_version
mbhd-install/LastExtractedJWrapperVersion
mbhd-install/JWrapperLaunchTemp
mbhd-install/build

# Shade plugin
mbhd-install/dependency-reduced-pom.xml

# MultiBit HD


