<?xml version="1.0" encoding="UTF-8"?>

<!--
      Logback configuration for use during tests

      Without this configuration the log files will be enormous
      so do not remove it

-->
<configuration>

  <!-- Standard console appender for checking activity (short on detail) -->
  <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Simplified standard logging encoder -->
    <encoder>
      <pattern>[%d{ISO8601}] %-5level [%thread] %logger{16} - %msg %xEx%n</pattern>
    </encoder>
  </appender>

  <!-- Define logging for third party customisation -->
  <!-- Set Bitcoinj to be WARN by default to avoid flooding the logs -->
  <logger name="org.bitcoinj" level="WARN"/>

  <!-- Define logging for organisation applications only -->
  <logger name="org.multibit" level="DEBUG"/>

  <root level="WARN">
    <appender-ref ref="CONSOLE_APPENDER" />
  </root>

</configuration>